button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


* {
	padding: 0px;
	margin: 0px;
	border: none;
}

body {
    margin: 100px 0;
}

.container {
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 20px;
}

.title {
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 30px;
}

.section {
    margin-bottom: 100px;
}

.block1-list {
    display: flex;
    gap: 45px;
}

.item {
    background-color: aqua;
}

.block1-item {
    min-height: 240px;
    flex: 0 1 33%;
}

.block2-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.block2-box-item {
    min-height: 240px;
    flex: 0 1 calc(100% / 2 - 10px);
}

.item-middle {
    background-color: cadetblue;
}

.block3-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 20px;
    margin-bottom: 20px;
}

.block3-box-item:last-child {
    grid-row: span 2;
}

.block3-box-item {
    min-height: 200px;
}

.block3-footer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.block3-footer-item {
    width: 100%;
    min-height: 155px;
}

.block3-footer-item-mini {
    width: 30%;
    min-height: 155px;
}

.block4-box {
    background-color: gray;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.block4-box-img {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

.block4-box-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.block4-box-titiles-tit {
    margin-bottom: 10px;
}

.block4-box-titiles {
    word-break: break-all;
}

.block4-box-btn {
    margin-left: auto;
}

.btn {
    background-color: purple;
    padding: 20px 55px;
    font-size: 40px;
    color: #fff;
}

.block5-box {
    display: flex;
    gap: 30px;
}

.block5-box-card {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.block5-box-card-header {
    width: 100%;
    min-height: 270px;
}

.block5-box-card-header img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.block5-box-card-main {
    background-color: aliceblue;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    justify-content: space-between;
}




.truncate {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 991px) {
    .block1-box {
        flex-wrap: wrap;
    }
}